body, html {
    height: 120%;
    margin: 0;
    background-color: azure;
  }
  
  .bg {
    /* The image used */
  background-image: url("https://images.unsplash.com/photo-1569025690938-a00729c9e1f9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  
    /* Full height */
    height: 50%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#info{
    max-width: 1600px;
    text-align: center;
    
}

h3 {
    font-size: 2.5em;
    padding: 1em;
}

#text{
    font-size: 1.5em;max-width: 1000px;padding-bottom: 50px;
}
#name{
    font-size: 20px;;
}
#disclamer{
    padding-top: 100px;
}
#foot{
    width: 320px;
}
#copyright{
    width: 200px;
}