{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'login.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block active %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="/"><strong>Home</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="login"><strong>Login</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="signup"><strong>Sign up</strong></a>
        </li>

        </ul>
        
        <a href="demo"><button class="btn btn-outline-primary"><strong>Demo Chart</strong></button>
        </a>
{% endblock %}


{% block alert %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
{% endblock %}

{% block content %}

    <form class="mx-auto " id="form" method="POST">{% csrf_token %}
      <div class="mx-auto" id="head">
        <Strong id="heading">Login to your account</Strong>
      </div>
      <div class="mb-5">
        <label for="Email" class="form-label"><strong>Email address</strong> </label>
        <input type="email" class="form-control" id="Email" name="email_">

      </div>
      <div class="mb-5">
        <label for="Password" class="form-label"><strong>Password</strong></label>
        <input type="password" class="form-control" id="Password" name="password_">
      </div>
      <div class="mx-auto" id="button">
        <button type="submit" class="btn btn-primary mx-auto"><strong>Login</strong></button>
      </div>
      <div class="mx-auto" id="bottom">
        <span>Don't have an account? </span><a href="signup">Sign up</a>
      </div>

    </form>
  {% endblock %}
